<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
</head>
<body>
    <div class="flex">
        <h1>Let's play rock, paper, scissors!</h1>
        <p>What is your weapon of choice?</p>
        <div class="">
            <button>Rock</button>
            <button>Paper</button>
            <button>Scissors</button>
        </div>
    </div>

</body>
</html>